<div class="grid_8 alpha">
  <%= erb :sidebar, :locals => {:topics => topics }, :template_engine => :erb %>
    
  <div class="grid_16 omega">
    <div class="block">
      <%= erb :login, :locals => { :current_user => current_user }, :template_engine => :erb %>   
      <div class="main-content">
        <h3>On going conversations...</h3>
        <div class="topic-block-list on-going-chat">
          <%= posts %>  
        </div>
      </div>
    </div>
  </div>
</div>


