<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>WE HAVE NO TITLE YET</title>
    <link rel="stylesheet" href="/assets/stylesheets/960.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/assets/stylesheets/jscroll.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/assets/stylesheets/style.css" type="text/css" media="screen" />
    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.nicescroll.min.js"></script>
    <script type="text/javascript" src="/assets/js/application.js"></script>
    <script>
      var base_url = "<%= base_url %>";
    </script>
  </head>
  <body>
    <div class="container_24">
      <%= erb :sidebar, :locals => { :topics => topics } %>
      <%= yield %>
    </div>
  </body>
</html>
