<div class="grid_8 alpha">
  <div class="block sidebar">
    <h3><%= link_to '', "Topics", "" %> <span class="sub-title">Join any conversation</h3>
    <div class="topic-block-list chat-topics-sidebar">
      <%= topics %>
    </div>
  </div>
</div>
