<div class="block sidebar">
  <h3><%= link_to '', "Topics", "" %> <span class="sub-title">Join any conversation</div></h3>
  <div class="topic-block-list chat-topics-sidebar">
    <%= topics %>
  </div>
</div>

